* {
	font-family: 'Nunito', sans-serif;
}

.card-title {
	font-weight: bold;
}

nav {
	background-color: #0F0101;
}


footer {
	background-color: #0F0101;
}

.nav-link, .card-title, .card-text {
	color: white;
}

.navbar-toggler {
	background-color: white;
}

.nav-link:focus, .nav-link:hover {
    color: #adb5bd;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.html, .bootstrap, .nodejs {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
}

#contact .col-xs-10 {
	background-color: #0F0101;
}

.card {
	background-color: rgba(0, 0, 0, 0.7);
}

h1 {
	font-weight: bolder;
}
